<p>Prueba Clientes</p>
<br>
<button class="btn btn-primary" (click)="consultar()">Consultar cliente</button>
<br><br>
<button class="btn btn-secondary" (click)="informacion()">Información cliente</button>
