<div class="container">
    <h1>Información básica</h1>
    <div class="form-group">
        <label for="numeroDocumento">Primer apellido</label>
        <input type="text" class="form-control" id="primerApellido" [ngModel]="cliente?.primerApellido" [readonly]="true">
    </div>
    <div class="form-group">
        <label for="numeroDocumento">Primer nombre</label>
        <input type="text" class="form-control" id="primerNombre" [ngModel]="cliente?.primerNombre" [readonly]="true">
    </div>
    <br>
    <button class="btn btn-secondary" (click)="volver()">Volver</button>
  </div>
  