<div class="container">
    <h1>Buscar cliente</h1>
    <div class="form-group">
      <label for="tipoDocumento">Tipo de Documento</label>
      <select class="form-control" id="tipoDocumento" [(ngModel)]="selectedTipoDocumento" (change)="habilitarBuscar()">
        <option value="">Seleccione un tipo</option>
        <option value="C">Cedula de ciudadanía</option>
        <option value="P">Pasaporte</option>
      </select>
    </div>
    <div class="form-group">
      <label for="numeroDocumento">Número de Documento</label>
      <input type="text" class="form-control" id="numeroDocumento" [(ngModel)]="numeroDocumento"
        minlength="8" maxlength="14" pattern="[0-9]*" (input)="habilitarBuscar()" appThousandsSeparator>
    </div>
    <br>
    <button class="btn btn-primary" [disabled]="!buscarHabilitado" (click)="buscarCliente()">Buscar</button>
    <button class="btn btn-secondary" (click)="volver()">Volver</button>
  </div>
  